<div class="jumbotron">
  <h1>Try. Explore. Experience.</h1>
  <p>Indie hand-crafted tours from locals.</p>
  <div class="search">
    <input id="search-places" placeholder='Where are you going?'>
    <button class="btn btn-primary btn-lg" href="#">Search</button>
    <div class="">
      Most popular:
      <a href="#/destinations/1">San Francisco</a>
      <a href="#/destinations/2">Hong Kong</a>
      <a href="#/destinations/3">Quito</a>
    </div>
  </div>
</div>
