<div class="jumbotron">
  <h3>Find something different</h1>
  <p>Indie tours and activities</p>
  <div class="search">
    <input id="search-places" placeholder='Where are you going?'>
    <button class="btn btn-primary btn-lg" href="#">Search</button>
    <div class="">
      <a href="/#destinations/1">San Francisco</a> |
      <a href="/#destinations/2">Hong Kong</a> |
      <a href="/#destinations/3">Quito</a>
    </div>
  </div>
</div>

<div class='testimonials'>
  <p>
    "It's so much fun. I made wine with the locals in France."
    <br/>
    "I never would have found the street art murals."
  </p>
</div>

<div class="preview">
  <h4>Around the world</h4>
  <div class="row preview-imgs"></div>
</div>
