<div class="jumbotron">
  <h1>Try. Explore. Experience.</h1>
  <p>Indie hand-crafted tours from locals.</p>
  <div class="search">
    <input id="search-places">
    <button class="btn btn-primary btn-lg" href="#">Search</a>
  </div>
</div>
