<div class="jumbotron">
  <h1>Explore like a local</h1>
  <p>...</p>
  <div class="search">
    <input type="text"
      class='search-box'
      name="destination[name]">
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Search</a></p>
    <div class="search-results"></div>
  </div>

</div>
