<!-- <div class='search-results'> -->
  <% places.each( function(place) { %>
    <a href="#/destinations/<%=place.escape('id')%>">
      <div class='search-name'><%=place.escape('name')%></div>
    </a>
  <%  }) %>
<!-- </div> -->
