<div class="nav-show">
</div>

<div class="left-side col-md-2">
</div>

<div class="root-div col-md-8">
</div>

<div class="right-side col-md-2">
</div>

<script type="text/javascript">
  $(document).ready(function(){
      Tryable.initialize();
  });

  <% if logged_in? %>
    Tryable.CURRENT_USER = {username: "<%=current_user.username%>", id: <%=current_user.id%> };
    Tryable.AUTH_TOKEN = "<%=form_authenticity_token%>"
  <% end %>

</script>
