<div class="col-md-4 col-md-offset-2 images-form">
  <h4>Step 2: Add Photos</h4>
  <p>
    Photos make it easier for visitors to understand what your activity is about.
    Make your photos engaging, colorful, and unique.
  </p>
  <button class="upload-button btn btn-primary">Upload</button>
  <button class='done btn btn-default' name="button">Publish</button>
</div>
<div class="col-md-4 images-form">
  <div class="images">
  </div>
</div>
