<div class="col-md-6">
  <h4>Step 2: Add Photos</h4>
  <p>
    Photos make it easier for visitors to understand what your activity is about.
    Make your photos engaging, colorful, and unique.
  </p>
  <button class='done btn btn-primary' name="button">Done</button>
</div>
<div class="col-md-6">
  <button class="upload-button btn btn-primary">Upload</button>
  <div class="images">
  </div>
</div>
