<div class="row">
  <div class="col-md-8 col-md-offset-2 about div-white">
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 div-white">
      <h3><%=user.escape('name')%>'s Tours</h3>
    <table class='user-tours table table-hover table-striped'>
    </table>
  </div>
</div>

<div class="reviews">
</div>
