<div class="col-md-8">
  <h3><a href="#/users/<%=user.escape('id')%>">
      <%=user.escape('name')%> (<%=user.escape('username')%>)
      </a>
  </h3>
  <h4>About</h4>
  <p><%=user.escape('about')%></p>
</div>
