<h3>Reviews</h3>
  <h4>Add a new review</h4>
    <div class="new-rating"></div>
    
<form>
  <div class="form-group">
    <textarea name="review[description]" class='form-control' id='description' rows="8" cols="40"></textarea>
  </div>

  <button type="button" class='submit-review btn btn-primary' >Submit</button>

</form>
<div class='reviews'></div>
