<% form_action = (type == :new) ? users_url : session_url %>
<% submit_text = (type == :new) ? "Sign Up" : "Sign In" %>
<%= render 'shared/errors'%>
<form action="<%=form_action%>" method="post">
  <%= form_auth_token %>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class='form-control' name="user[username]">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class='form-control' name="user[password]">
  </div>

  <input type="submit" value="<%=submit_text%>" class='btn btn-primary'>
</form>
