<div class="row">
  <div class="col-md-6">
    <h4>Payment</h4>
    <p> We do not charge your card until your reservation is confirmed.</p>
      <button type="button" class='btn btn-large btn-primary'>Book it now</button>
  </div>

  <div class="col-md-6">
    <h1>Review your order</h1>
    <h4>Tour</h4>
    <%=tour.escape('title')%>
    <h4>Price</h4>
    <%=tour.escape('price')%>
    <h4>Date:</h4>
    <%=booking.escape('tour_date') %>
  </div>

</div>
