<input type="hidden" name="booking[tour_id]" value="<%= tour.escape('id')%>">
<div class = 'date-picker'></div>
<button type="button btn-primary" class='submit-booking'>Request Booking</button>

<h4>Debugging, the value of the tour id is:</h4>
<%= tour.escape('id')%>
