<input type="hidden" name="booking[tour_id]" value="<%= tour.escape('id')%>">

<div class="input-group date form-group date-picker">
    <input type="text" class='form-control' value="">
    <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
</div>

<button type="button btn-primary" class='submit-booking btn btn-primary'>Request Booking</button>
