<input type="hidden" name="_method" value="post">
<div class = 'date-picker'></div>
<input type="hidden" name="booking[tour_id]" value="<% tour.escape('id') %>">
<button type="button btn-primary" class='submit-booking'>Request Booking</button>

<script type="text/javascript">
  $('.date-picker').datepicker({
  startDate: "Time.now",
  clearBtn: true,
  todayHighlight: true
  });
</script>
