/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
.jumbotron {
  background-image: url('/assets/backdrop.jpeg');
  text-align: center;
  color: white;
}

.search {
  display: block;
  margin: auto;
  width: 400px;
}

#search-places {
  color: black;
}

body {
  background-color: lightgray;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

.col-md-6, .col-md-3 {
  background-color: white;
  border: 1px solid gray;
  height: inherit;
  padding: 5px;
  // margin: 2px;
  // box-sizing: border-box;
}

.search-results {
  position: absolute;
  background: white;
}

.search-name {
  padding: 5px;
}

.tour-item {
  height: 300px;
  width: 200px;
  border-radius: 5%;
  overflow:hidden;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

.tour-item:hover {
  background-color: aliceblue;
}

.tour-title {
  font-size: 14px;
}

// .search-box {
//   margin: auto;
// }
