/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// General
body {
  background-color: lightgray;
}

a, a:hover {
  color: rgb(0, 153, 153);
  text-decoration: none;
}

.btn {
  margin: 5px;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: 1px solid lightgray;
    padding: 20px;
}
// Navbar styles
.logout {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
  border: none;
  width: inherit;
}

.navbar {
  margin:0;
  z-index:50;
}

//Homepage
.jumbotron {
  text-align: center;
  color: white;
}

.jumbotron h2 {
  z-index:30;
}
.search {
  display: block;
  margin: auto;
  width: 50%;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

#search-places {
  color: black;
  margin: 10px;
  width: inherit;
}

// Authentication
.sign-in-up {
  h1 {
    text-align: center;
  }
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 50%;
  left: 25%;
  top: 25%;
  border: 1px solid;
  border-radius: 5px;
}

// .col-md-8, .col-md-6, .col-md-5, .col-md-4, .col-md-3 {
//   background-color: white;
//   padding: 20px;
// }

//Destination Show

.tour-item {
  height: 300px;
  width: 200px;
  border-radius: 5%;
  overflow:hidden;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.thumbnail {
  padding:0;
}

.tour-item-text p {
  color: black;
  padding: 5px;
  a {
    color: black;
  }
}

.tour-item:hover {
  background-color: aliceblue;
}

.tour-title {
top: 25%;
left: 25%;
position: absolute;
z-index: 50;
color: white;
font-size: 70px;
}

.tour-header img {
  overflow: hidden;
}

.tour-img {
  width: 200px;
  height: 200px;
}

img.tour-img {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  width: 100%;
  height:700px;
}

.row-shift {
  position: relative;
  top: -300px;
  background-color: white;
}

//Bookings
.bookings {
  background-color: white;
}

.table a {
  font-size: 18px;
}

//Tour Show
.photos-index > div {
  float: left;
  padding: 10px;
  background-color: white;
}
