/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// General
.root-div {
  padding: 0px;
}

.btn-primary {
  // background-color: #e73c3e;
  // border: none;
}

.row {
  width: 100%;
}

.row-first {
  margin-top: 20px;
}

.col-md-12 {
  padding:30px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #F4F3EE;
  font-family: 'Titillium Web', sans-serif;
}

p {
  margin: 0px 30px;
  font-size: 18px;
}

a, a:hover {
  color: rgb(0, 153, 153);
  text-decoration: none;
}

.btn {
  margin: 5px;
}

.row {
    display: table;
}

.row-white {
  background-color:white;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
// Navbar styles
.logout {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
  border: none;
  width: inherit;
}

.navbar {
  margin:0;
  z-index:50;
  background-color:white;
}

//Homepage
.jumbotron {
  text-align: center;
  color: white;
}

.jumbotron h2 {
  z-index:30;
}

.search {
  display: block;
  margin: auto;
  width: 50%;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  a {
    color: black;
    font-size: 14px;
  }
}

#search-places {
  color: black;
  margin: 10px;
  width: inherit;
}

// Authentication
.sign-in-up {
  h1 {
    text-align: center;
  }
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 50%;
  left: 25%;
  top: 25%;
  border: 1px solid;
  border-radius: 5px;
}

//Destination Show
.tour-item {
  height: 450px;
  width: 250px;
  border-radius: 5%;
  overflow:hidden;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 0px;
  padding-bottom: 10px;
  text-align: center;
  .tour-item-title {
    font-family: bold;
    font-weight: 400;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
  }
  p {
    color: black;
    padding: 5px;
    height:150px;
    overflow:hidden;
  }
}

.thumbnail {
  padding:0;
  margin:0;
}

.tour-item:hover {
  background-color: aliceblue;
}

//Tour Show page
.tour-title {
top: 25%;
left: 25%;
position: absolute;
z-index: 50;
color: white;
font-size: 70px;
}

.tour-header {
  min-height: 300px;
  background-color: gray;
}

.tour-img {
  width: 200px;
  height: 200px;
}

img.tour-img {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  width: 100%;
  height:700px;
}

.clickable-img {
  margin:5px;
}

//Bookings
.bookings {
  background-color: white;
}

.bookings-show-view {
  margin-top:20px;
}

.table a {
  font-size: 18px;
}

//Tour Show
.photos-index > div {
  float: left;
  padding: 10px;
  background-color: white;
}

.order-preview {
  margin: 20px;
  padding:20px;
  background-color: white;
}

.reviews > div {
  padding: 10px;
}

.average-rating {
  display: inline;
}

.review-form {
  display: none;
}

.photos-index > div {
  width: 100%;
}

.tour-images {
  text-align: center;
}

.tour-images > div {
  display: inline-block;
}
//Tour form
.tour-form {
  background-color: white;
  padding:20px;
}

.images-form {
  background-color: white;
  min-height:500px;
}
