<h2>List Your Experience</h2>
<form class="new-tour">
  <select name="tour[destination_id]">
    <% places.each( function(place) { %>
      <option value="<%=place.escape('id')%>"><%=place.escape('name')%></option>
    <% }); %>
  </select>

  <label>Title
    <input type="text" name="tour[title]">
  </label>
  <label>Description
    <textarea name="tour[description]"></textarea>
  </label>

  <label>Price
    <input type="number" name="tour[price]">
  </label>

  <button type="button btn-primary" class='submit-booking btn btn-primary'>Save</button>
</form>

<h4>Add Photos</h4>
<button class="upload-button btn btn-default">Upload</button>
<div class="images">
</div>
