<h2>List Your Experience</h2>
<input type="hidden" name="tour[user_id]" value="<%= Tryable.CURRENT_USER %>">

<label>Title
  <input type="text" name="tour[title]">
</label>
<label>Description
  <textarea name="tour[description]"></textarea>
</label>

<label>Price
  <input type="number" name="tour[price]">
</label>

<button class="upload-button">upload new image</button>


<button type="button btn-primary" class='submit-booking btn btn-primary'>Save</button>
