<div class="col-md-3">
</div>

<div class="tour-show col-md-6">
  <h1><%=tour.escape('title')%></h1>
  <p>
    <%=tour.escape('description')%>
  </p>
  <a href="#/destinations/<%=tour.get('destination_id')%>">Back</a>

  <div class="photos-index">
  </div>
  
</div>


<div class="booking-form col-md-3">
</div>
