<div class="row tour-header">
</div>

  <h2 class='tour-title'><%=tour.escape('title')%></h2>

<div class="row row-white">
  <div class="col-md-3 placeholder"></div>

  <div class="col-md-6">
      <a class='btn btn-default' href="#/destinations/<%=tour.get('destination_id')%>">Back</a>
      <h2>About this tour</h2>
      <p>
        <%=tour.escape('description')%>
      </p>
  </div>

  <div class="col-md-3">
    <h3>Make a reservation</h4>
    <h4>$<%=tour.escape('price')%></h5>
    <div class="booking-form"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 placeholder"></div>
  <div class="col-md-6 photos-index"></div>
    <div class="col-md-3 placeholder"></div>
</div>

<div class="row row-white">
  <div class="col-md-3 placeholder"></div>
  <div class="col-md-6 provider"></div>
    <div class="col-md-3 placeholder"></div>
</div>

<div class="row row-white">
  <div class="col-md-3 placeholder"></div>
  <div class="col-md-6 reviews"></div>
    <div class="col-md-3 placeholder"></div>
</div>
