<div class="row">
  <div class="row photos-index"></div>
    <h2 class='tour-title'><%=tour.escape('title')%></h2>
    <p><%=tour.escape('owner')%></p>
</div>

<div class="row row-2">
  <div class="col-md-3">
    <a class='btn btn-default' href="#/destinations/<%=tour.get('destination_id')%>">Back</a>
  </div>

  <div class="col-md-6">
      <%=tour.escape('description')%>
  </div>

  <div class="booking-form col-md-3">
  </div>
</div>
