<div class="tour-item-text">
  <a href="#/tours/<%=tour.escape('id')%>">
    <div class='thumbnail'/>
    <h4 class='tour-item-title'><%=tour.escape('title')%></h4>
    <p>
      <%=tour.escape('description')%>
    </p>
  </a>
</div>
