<div class='thumbnail'/></div>
<div class="tour-item-text">
  <a href="#/tours/<%=tour.escape('id')%>">
    <h5 class='tour-item-title'><%=tour.escape('title')%></h5>
    <p><%=tour.escape('description')%></p>
  </a>
</div>
