<a href="#tours/<%=tour.escape('id')%>">
  <div class='thumbnail'/></div>
  <h5 class='tour-item-title'><%=tour.escape('title')%></h5>
  <div class="average-rating">
  </div>
  <p><%=tour.escape('description')%></p>
</a>
