<img src="<%=tour.escape('thumb_url')%>" alt="" />
<a href="#/tours/<%=tour.escape('id')%>">
  <h4 class='tour-title'><%=tour.escape('title')%></h4>
  <p>
    <%=tour.escape('description')%>
  </p>
</a>
